html, body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.word_section {
  width: 250px;
  position: relative;
  padding-top: 40px;
  padding-left: 30px;
}

.color_section {
  width: 950px;
}

.section {
  margin: 5px;
  display: flex;
}

.column {
  width: 26px;
}

.box {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 6px;
  cursor: pointer;
}

.box:last-child {
  margin-bottom: 3px;
}
